<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>商城管理中心 - {$page_name} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/Admin/Styles/general.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/Styles/main.css" rel="stylesheet" type="text/css" />

</head>
<body>
<h1>
    <span class="action-span"><a href="{$page_btn_url}" id="page_btn">{$page_btn_name}</a></span>
    <span class="action-span1"><a href="__GROUP__">商城管理中心</a></span>
    <span id="search_id" class="action-span1"> - {$page_name} </span>
    <div style="clear:both"></div>
</h1>
{__CONTENT__}
<div id="footer">
    guaosi 制作<br />
</body>
</html>